name = "url-diet-worker"
main = "src/index.js"
compatibility_date = "2024-05-01"

# Worker must run BEFORE Pages for /api/*
routes = [
  { pattern = "url.diet/api/*", zone_name = "url.diet" }
]

[[kv_namespaces]]
binding = "URLS"
id = "408ccb1ad28c49bbbb24240789bd7b31"

[[kv_namespaces]]
binding = "RATE_LIMIT"
id = "3aab97f08d4b144a2611c4331828d8a9"

[[d1_databases]]
binding = "DB"
database_name = "url_diet"
database_id = "41b2f1b9-6a85-4954-ad2d-f1449de767e3"
