name = "url-diet-worker"
main = "src/index.js"
compatibility_date = "2024-05-01"

# ---- ROUTES MUST BE ABOVE TABLES DUE TO WRANGLER BUG ----
routes = [
  { pattern = "url.diet/api/*", zone_name = "url.diet" }
]

[[kv_namespaces]]
binding = "URLS"
id = "408cc1bda28c49bbbb24240789bd7b31"

[[kv_namespaces]]
binding = "RATE_LIMIT"
id = "3aab97f08db44b14a2611c4331828ad9"

[[d1_databases]]
binding = "DB"
database_name = "url_diet"
database_id = "41b2f1b9-6a85-4954-ad2d-f1449de767e3"
